@page
@model Ecommerce_CyberKnight.Pages.crud.alterarModel
@{
}

<form method="post">
    <input type ="hidden" asp-for="cliente.Id" />
    Nome:
    <input class="form-control" asp-for="cliente.Nome" />
    <br />
    CPF:
    <input class="form-control" asp-for="cliente.Cpf" />
    <br />
    Email:
    <input class="form-control" asp-for="cliente.Email" />
    <br />
    Login:
    <input class="form-control" asp-for="cliente.Login" />
    <br />
    Senha
    <input class="form-control" asp-for="cliente.Senha" />
    <br />
    Cep:
    <input class="form-control" asp-for="cliente.Cep" />
    <br />
    Telefone:
    <input class="form-control" asp-for="cliente.Telefone" />
    <br />
    <br />
    <input type="submit" value="Enviar" />
</form>
