@page
@model Ecommerce_CyberKnight.Pages.crud.IncluirModel
@{
}

<form>
    Nome:
    <input asp-for="cliente.Nome"/>
    <br />
    CPF:
    <input asp-for="cliente.Cpf"/>
    <br />
    Email:
    <input asp-for="cliente.Email"/>0
    <br />
    Login:
    <input asp-for="cliente.Login" />
    <br />
    Senha
    <input asp-for="cliente.Senha" />
    <br />
    Cep:
    <input asp-for="cliente.Cep" />
    <br />
    Endereço:
    <input asp-for="cliente.Endereco" />
    <br />
    <br />
    <input type="submit" value="Enviar"/>
</form>
