@page
@model Ecommerce_CyberKnight.Pages.crud.IndexModel
@{
}
<table>
    <thead>
        <tr>
            <td>valor1</td>
            <td>valor2</td>
            <td>Valor3</td>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>