@page
@model Ecommerce_CyberKnight.Pages.ProdutoCRUD.AlterarModel
@{
}
<h1>Editar Produtos</h1>

<form method="post">

    <div class="col-4">
        <input class="form-control" type="hidden" asp-for="produtos.Id" />
    </div>
    <div class="col-4">
         Nome:
        <input class="form-control" asp-for="produtos.Nome" />
    </div>
    <br />
    <div class="col-4">
        Descrição:
        <input class="form-control" asp-for="produtos.descricao" />
    </div>
    <br />
    <div class="col-4">
        Categoria:
        <input class="form-control" asp-for="produtos.categoria" />
    </div>
    <br />
    <div class="col-4">
        Preço:
        <input class="form-control" asp-for="produtos.preco" />
    </div>
    <br />
    <div class="col-4">
        Unidade de Medida
        <input class="form-control" asp-for="produtos.unidadeMedida" />
    </div>
    <br />
    <div class="col-4">
        Estoque
        <input class="form-control" asp-for="produtos.estoque" />
    </div>
    <br />
    <br />
    <input type="submit" class="btn btn-outline-success" value="Enviar" />
</form>