@page
@model Ecommerce_CyberKnight.Pages.ProdutoCRUD.IncluirModel
@{
}

<h1>Incluir Novos Produtos</h1>


<form method="post" class=" mt-3" enctype="multipart/form-data">


  <div class="row">
    <div class="col-4">
        <label asp-for="produto.Nome">nome:</label>
        <input class="form-control" asp-for="produto.Nome" />
        <span asp-validation-for="produto.Nome" class="text-danger"></span>
    </div>
    <br />
    <div class="col-5">
        <label asp-for="produto.descricao">descricao:</label>
        <input class="form-control" asp-for="produto.descricao" />
        <span asp-validation-for="produto.descricao" class="text-danger"></span>
    </div>
   </div>
    <br />
    <div class="col-4">
        <label asp-for="produto.categoria">categoria:</label>
        <select class="form-control" asp-for="produto.categoria">
            @foreach (var cat in Model.categorias) {
                <option title="@cat.Descricao" value="@cat.Id">@cat.Nome</option>
            }
        </select>
        <span asp-validation-for="produto.categoria" class="text-danger"></span>
    </div>
    <br />
    <div class="col-4">
        <label asp-for="produto.preco">preço:</label>
        <input class="form-control" asp-for="produto.preco" />
        <span asp-validation-for="produto.preco" class="text-danger"></span>
    </div>
    <br />
    <div class="col-4">
        <label asp-for="produto.unidadeMedida">unidade de medida:</label>
        <input class="form-control" asp-for="produto.unidadeMedida" />
        <span asp-validation-for="produto.unidadeMedida" class="text-danger"></span>
    </div>
    <br />
    <div class="col-4">
        <label asp-for="produto.estoque">estoque:</label>
        <input class="form-control" asp-for="produto.estoque" />
        <span asp-validation-for="produto.estoque" class="text-danger"></span>
    </div>

    <div class=" form-group">
        <label asp-for="ImagemProduto" class=" control-label"></label>
        <div class="custom-file col-4 d-block">
            <input asp-for="ImagemProduto" class="custom-file-input" accept="image/*" />
            <label class="custom-file-label">clique aqui para incluir</label>
        </div>
        <span asp-validation-for="ImagemProduto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <img src="@Model.CaminhoImagem" class="imagem-thumbnail" asp-append-version="true"/>
    </div>
    <br />
    <br />
    <input type="submit" class="btn btn-outline-success" value="Enviar" />
</form>