@page
@model Ecommerce_CyberKnight.Pages.ProdutoCRUD.IncluirModel
@{
}

<h1>Incluir Novos Produtos</h1>
<form method="post">
    <div class="col-4">
        Nome:
        <input class="form-control" asp-for="produto.Nome" />
        <label> asp-for="produto.nome">nome:</label>
        <span> asp-validation-for="produto.nome class="text-danger"><1/span>
    </div>
    <br />
    <div class="col-5">
        Descrição:
        <input class="form-control" asp-for="produto.descricao" />
        <label> asp-for="produto.descricao">descricao:</label>
        <span> asp-validation-for="produto.descricao class="text-danger"><1 /span>
    </div>
    <br />
    <div class="col-4">
        Categoria:
        <input class="form-control" asp-for="produto.categoria" />
        <label> asp-for="produto.categoria">categoria:</label>
        <span> asp-validation-for="produto.categoria class="text-danger"><1 /span>
    </div>
    <br />
    <div class="col-4">
        Preço:
        <input class="form-control" asp-for="produto.preco" />
        <label> asp-for="produto.preco">preço:</label>
        <span> asp-validation-for="produto.preco class="text-danger"><1 /span>
    </div>
    <br />
    <div class="col-4">
        unidademedida:
        <input class="form-control" asp-for="produto.unidadeMedida" />
        <label> asp-for="produto.unidade de medida">unidade de medida:</label>
        <span> asp-validation-for="produto.unidade de medida class="text-danger"><1 /span>
    </div>
    <br />
    <div class="col-4">
        Estoque:
        <input class="form-control" asp-for="produto.estoque" />
        <label> asp-for="produto.estoque">estoque:</label>
        <span> asp-validation-for="produto.estoque class="text-danger"><1 /span>
    </div>
    <br />
    <br />
    <input type="submit" class="btn btn-outline-success" value="Enviar" />
</form>