@page
@model Ecommerce_CyberKnight.Pages.ProdutoCRUD.IncluirModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/incluir/style-tela-incluir-produto.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="row">
        <img id="logo" src="~/img/incluir/logo.webp" alt="" style="width: 130px;">
        <div id="barra-lateral" class="col-3">
            <label id="letreiro">Cyber Knights<br>E-commerce</label>
        </div>
        <div class="col-9">
            <header>
                <div>
                    <button>Início</button>
                    <span id="traco">|</span>
                    <span id="produto">Produtos</span>
                    <span id="clientes">Clientes</span>
                    <span id="categoria">Categorias</span>
                    <span id="unid">Unidade de Medida</span>
                </div>
                <div>
                    <i id="carrinho" class="bi bi-cart"></i>
                    <span id="traco-dois">|</span>
                    <i id="sair" class="bi bi-box-arrow-right"></i>
                </div>
            </header>

            <form method="post" class=" mt-3" enctype="multipart/form-data">
            <div class="flex-container">
                <div id="card-login">
                    <br>
                    <br>
                    <h1>Incluir Novo Produto</h1>
                    <div class="row">
                        <div class="col">
                            <label id="nome-um">Nome:</label>
                            <br />
                            <input class="form-control" id="nome" asp-for="produto.Nome" type="text">
                            <span asp-validation-for="produto.Nome" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label>Categoria:</label>
                            <br />
                            <select class="form-control" asp-for="IdCategoria">
                                <option selected>Selecione a categoria</option>
                                <span asp-validation-for="produto.categoria" class="text-danger msg-erro"></span>
                                @foreach (var categoria in Model.listaCategoria) {
                                    <option value="@categoria.Id">@categoria.Nome</option>
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <br>
                    <div class="row">
                        <div class="col">
                            <label id="descricao-um">Descrição:</label>
                            <br />
                            <input class="form-control" id="descricao" asp-for="produto.descricao" type="text">
                            <span asp-validation-for="produto.descricao" class="text-danger"></span>
                        </div>
                        </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label id="preco-label">Preço:</label>
                            <br />
                            <input class="form-control" id="preco-input" asp-for="produto.preco" type="text">
                            <span asp-validation-for="produto.preco" class="text-danger"></span> 
                        </div>
                        <div class="col-5">
                            <label id="unid-label"> Unidade de Medida:</label>
                            <br>
                            <select class="form-control" asp-for="IdUnidadeMedida">
                            <option selected>Selecione a unidade de medida</option>
                            <span asp-validation-for="produto.unidadeMedida" class="text-danger"></span>
                            @foreach(var unidadeDeMedida in Model.listaUnidadeMedidas) {
                                <option value="@unidadeDeMedida.Id">@unidadeDeMedida.Sigla</option>
                            }
                            </select>
                        </div>
                    </div>

                    <br>
                    <br />
                    <div class="row">
                        <div class="col">
                            <label id="estoque-label">Estoque:</label>
                            <br />
                            <input class="form-control" id="estoque-input" asp-for="produto.estoque" type="text">
                            <span asp-validation-for="produto.estoque" class="text-danger"></span>  
                        </div>
                        <div class="col">
                            <label id="img-label">Inserir Imagem:</label>
                            <br />
                            <input asp-for="ImagemProduto" class="custom-file-input" accept="image/*" />
                            <span asp-validation-for="ImagemProduto" class="text-danger"></span>
                        </div>
                    </div>           
                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
            </form>
        </div>



    </div>
</body>

</html>
