@page
@model Ecommerce_CyberKnight.Pages.CadastroRealizadoModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/css/cadastrorealizado/style-tela_logado_sucesso.css">
</head>
<body>
    <div class="flex-container">
        <img src="~/img/asset/cadastrorealizado/guirlandas 1.png" alt="" style="width: 150px;">
        <div>
            <h1>Você foi cadastrado com sucesso!</h1>
            <h2>Obrigado por se cadastrar em nosso site</h2>
        </div>
        <img src="~/img/asset/cadastrorealizado/guirlandas 1.png" alt="" style="width: 150px;">

    </div>
    <img id="logo" src="~/img/asset/cadastrorealizado/Yellow_and_Black_Simple_Banana_Fruit_Logo__1_-removebg-preview 1.png" alt="">
</body>
</html>