@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>texto</p>

</div>

 <div class="row row-cols-1 row-cols-md-3 g-4">
        @if (Model.Produtos.Count > 0)
        {
            @foreach (var produto in Model.Produtos)
            {
                <div class="col-3">
                    <div class="card h-100">
                        <img src="~/img/produtos/Cyber Knights.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@produto.Nome </h5>
                            <p class="card-text">@produto.descricao</p>
                        </div>
                    </div>
                </div>
                 
            }

        }



 </div>
   




@section Scripts{
    <script type="text/javascript" src="/js/site.js"></script>
}