@page
@model Ecommerce_CyberKnight.Pages.crud.IncluirModel
@{
}

<h1>Incluir Clientes</h1>
<form method="post">
    
    <input class="form-control" asp-for="cliente.Nome" />
    <label asp-for="cliente.Nome">Nome:</label>
    
    <input class="form-control" asp-for="cliente.Cpf" />
    </div>
    <br />
    <div class="col-5">
    <label asp-for="cliente.Cpf">Cpf:</label>
    
    <br />
   
    <input class="form-control" asp-for="cliente.Email" />
    <br />
    <label asp-for="cliente.Email">Email:</label>
    
    <input class="form-control" asp-for="cliente.Telefone" />
    <br />
    <label asp-for="cliente.Telefone">Telefone:</label>
    <input class="form-control" asp-for="cliente.Cep" />
    <br />
    <label asp-for="cliente.Cep">Cep:</label>
    <input class="form-control" asp-for="cliente.Login" />
    <br />
    <label asp-for="cliente.Login">Login:</label>
    <input class="form-control" asp-for="cliente.Senha" />
    <label asp-for="cliente.Senha">Senha:</label>
    <br />
    <br />
    <input type="submit" class="btn btn-outline-success" value="Enviar" />
</form>